<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!-- Provider -->
    <add key="provider" value="System.Data.SqlClient"/>
    <!-- Connection string -->
    <add key="cnStr" value="Server = (local)\SQLEXPRESS; Database = Films; Integrated Security = SSPI"/>
  </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
